<p>
  sandboxthree works!
</p>

<button id = "buttonId" (click)="fireEvent($event)">Click Event</button>
<hr>
<button (mouseover)="fireEvent($event)">MouseOver Event</button>
<hr>
<button (mousedown)="fireEvent($event)">MouseDown Event</button>
<hr>
<button (mouseup)="fireEvent($event)">MouseUp Event</button>
<hr>
<button (dblclick)="fireEvent($event)">DoubleClick Event</button>
<hr>
<button (drag)="fireEvent($event)">Drag Event</button>
<hr>
<button (dragover)="fireEvent($event)">DragOver Event</button>
