<p>
  sandbox-four works!
</p>
<div>
<input type="text" (keyup)="fireEvent($event)" placeholder="keyup event">
</div>
<div>
  <input type="text" (keydown)="fireEvent($event)" placeholder="keydown event">
</div>
<div>
  <input type="text" (focus)="fireEvent($event)" placeholder="focus">
</div>
<div>
  <input type="text" (blur)="fireEvent($event)" placeholder="blur">
</div>
<div>
  <input type="text" (cut)="fireEvent($event)" placeholder="cut">
</div>
<div>
  <input type="text" (copy)="fireEvent($event)" placeholder="copy">
</div>
<div>
  <input type="text" (paste)="fireEvent($event)" placeholder="paste">
</div>
<div>
  <input type="text" (keyup)="changeText($event)" placeholder="change text" value={{text}}>
</div>
<h2>{{text}}</h2>

<button id = "buttonId" (click)="changeValue()">Change Value</button>

<div *ngIf="value">
  <h1>{{text}}</h1>
</div>
